%div.center
  %form{ action: "/new", method: "POST" }
    %input{ id: "url-text", type: "url", name: "url", placeholder: "Enter URL here"}
      %br
    %button{ type: "submit" }
      = "GO"
  - if @urls.count > 0
    %table
      %tr
        %th URL
        %th Shortened
        %th Clicks
      - @urls.each do |url|
        %tr
          %td 
            = url[0]
          %td
            %a{ href:"http://#{@host}:#{@port}/#{url[1]}" }
              = url[1]
          %td
            = url[2]
